<div class="container">
  	<div class="col-sm-3 col-md-6 col-lg-8">
  	   <div class="about_index">
		<h2 class="second_header">About Me</h2>
		<hr>
		  <div class="image_border">
			<%= image_tag "all_images/a.jpg", width:"70%",height:"50%"%>
		  </div>
		</a>
		<br>
			<p>
				My name is Arjun Ghimire. I'm a designer & developer living in Butwal, Rupandehi. I have developed lot of websites from past 2 years. I beginning to build responsive static websites when I am in bachelor 1 year using html 5 and css 3. Then I moved into PHP for past 2 years. At last I decide to move into ruby programming language. I have doing lots of projects in ruby on rails from last 2 months.
			</p>	
		<br>
		    <p> 
				I have working experience with HTML 5, CSS 3, PHP, JavaScript, jQuery, Ajax, MySQL, SQLite, Ruby and Ruby on rails. If you like to see my web project, you can find all my web project in my GitHub account.
			</p>	
	   </div>
	</div>	
<div class="col-sm-9 col-md-6 col-lg-4">
  <div class="about_index2">
    <h2 class="second_header"> My Skills</h2>
     <p>
     </p> 
   	 </p>
   	<hr>
	<span class="only">90% Complete (HTML 5)</span>
		<div class="progress progress-striped">
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
		    </div>
	    </div>
	<span class="only">90% Complete (CSS 3)</span>
		<div class="progress progress-striped">
			<div class="progress-bar progress-bar-info" role="progressbar"
				aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
			</div>
		</div>
	<span class="only">40%Complete (JavaScript)</span>
		<div class="progress progress-striped">
			<div class="progress-bar progress-bar-warning" role="progressbar"
				aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
			</div>
		</div>
<span class="only">60% Complete (PHP)</span>
<div class="progress progress-striped">
<div class="progress-bar progress-bar-danger" role="progressbar"
aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
style="width: 60%;">
</div>
</div>
<span class="only">55% Complete (MySQL )</span>
<div class="progress progress-striped">
<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
</div>
</div>
<span class="only">40% Complete (SQLite 3)</span>
<div class="progress progress-striped">
<div class="progress-bar progress-bar-info" role="progressbar"
aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
style="width: 40%;">
</div>
</div>
<span class="only">50%Complete (JQuery)</span>
<div class="progress progress-striped">
<div class="progress-bar progress-bar-warning" role="progressbar"
aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
style="width: 50%;">
</div>
</div>
<span class="only">80% Complete (Sass)</span>
<div class="progress progress-striped">
<div class="progress-bar progress-bar-danger" role="progressbar"
aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
style="width: 80%;">
</div>
</div>
<span class="only">50%Complete (Ajax)</span>
<div class="progress progress-striped">
<div class="progress-bar progress-bar-warning" role="progressbar"
aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
style="width: 50%;">
</div>
</div>
<span class="only">50% Complete (Ruby)</span>
<div class="progress progress-striped">
<div class="progress-bar progress-bar-danger" role="progressbar"
aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
style="width: 50%;">
</div>
</div>
	<span class="only">60% Complete (Ruby On Rails)</span>
		<div class="progress progress-striped">
			<div class="progress-bar progress-bar-success" role="progressbar"
		aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
			</div>
		</div>
	   </div>
	</div>
</div>
</div>