body
{
	color:#000;
}
.image_border
{
	border: 2px solid #0F010E;
	border-radius: 5px;
}
   h2.second_header
	{
		text-align: left;
		color: #F63700;
	}
.media-body
{

	p
	{
		line-height: 29px;
		font-style: oblique;
		font-size: 16px;
	}
}
.about_index
{
	color: #0D0107;
	font-size: 16px;
}
.about_index2
{
	padding: 10px;
	border-radius: 10px;
	span.only
	{
	color: #000; 
    }
}
